<div id="botones">
  <button mat-raised-button color="primary" (click)="abrirPasarela()">Finalizar pago</button>
  <button mat-raised-button color="warn" (click)="vaciarCarrito()"> Vaciar todo</button>
</div>

<div id="container">
  <mat-grid-list cols="1" rowHeight="15rem" >
    <mat-grid-tile *ngFor="let carrito of carritoFilter" class="carrito">
      <img [src]="apibackEnd +'Producto/files/'+carrito.producto.fotos[0]">
      <div id="texto">
        <div id="nombre">{{carrito.producto.nombre}}</div>
        <div>{{carrito.producto.subTipoProducto.nombre}}</div>
        <div>Cantidad: {{carrito.cantidad}}</div>
        <div>Precio: {{carrito.producto.precio}}€</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
