<h2 mat-dialog-title>Formulario Tipo Producto </h2>
<mat-dialog-content>
    <form [formGroup]="FormRegistro">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>ID</mat-label>
                <input matInput formControlName="id" [readonly]="true">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Product name</mat-label>
                <input matInput formControlName="nombre" required [readonly]="igotInfo.modo ==='inspect'">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align='end'>
    <div>
        <button mat-raised-button color="accent" class="btnCancelar" (click)="close()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="save()">Aceptar</button>
    </div>
</mat-dialog-actions>
