<form [formGroup]="FormRecover">
    <h1>Password Recover</h1>
    <div>
      <mat-form-field appearance="fill">
          <mat-label>Enter your new password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password1">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
        <mat-label>Confirm your new password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password2">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</div>
    <div id="botonPassword">
        <button mat-raised-button color="primary" (click)="changePassword()">Cambiar Contraseña</button>
    </div>
</form>
