<form [formGroup]="FormRecover">
    <h1>Password Recover</h1>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput formControlName="password1" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Confirm your password</mat-label>
            <input matInput formControlName="password2" required>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="changePassword()">Cambiar Contraseña</button>
    </div>
</form>