form{
    text-align: center;
}
mat-form-field{
    width: 50%;
    margin-bottom: 3vh;
}

a{
  cursor: pointer;
  color: #4054b4;
  font-weight: bold;
}

#link{
  display: flex;
  padding-left: 25%;
}

#botonInicio{
  margin: 3% 0;
}

h1{
  margin-top: 2%;
}
