mat-card{
    width: 20vw;
    height: 60vh;
    justify-content: center;
    text-align: center;
}

img{
    max-width: 20vw;
    max-height: 30vh;
    @media only screen and (max-width: 1500px) {
      max-width: 15vw;
      max-height: 25vh;
      width: 15vw;
    }
}
.mdc-card {
    align-items: center;
}

.mat-mdc-card-title{
  font-weight: bold;
  padding: 2vw;
  margin-top: 2vh;
}
/* 
@media only screen and (max-width: 1500px) {
 mat-card{
  justify-content: center;
 }
 ::ng-deep{
    .mat-mdc-card-title{
      text-align: center;
  
    }
  }
} */

@media only screen and (max-width: 800px){
  mat-card{
    width: 60vw;
  }
  img{
    max-width: 90vw !important;
    width: 40vw;
  }
}
