mat-card{
    width: 20vw;
    min-height: 30vh;
}
img{
    max-width: 20vw;
    max-height: 30vh;
    @media only screen and (max-width: 1500px) {
      max-width: 15vw;
      max-height: 25vh;
      width: 15vw;
    }
}
.mdc-card {
    align-items: center;
}

@media only screen and (max-width: 1500px) {
 mat-card{
  justify-content: center;
 }
 ::ng-deep{
    .mat-mdc-card-title{
      text-align: center;
      font-size: clamp(0.5rem, 2vw, 1.5rem);
    }
    .mat-mdc-card-title~.mat-mdc-card-subtitle{
      font-size: clamp(0.2rem, 1.5vw, 1rem);
    }
 }
 button{
  font-size: clamp(0.2rem, 1.5vw, 1rem);
 }
}

