mat-card {
  width: 20vw;
  padding: 2vw;
  text-align: center;
  margin: 1vw;

  button {
    text-align: center;
    margin: auto;
  }

  @media only screen and (max-width: 1200px) {
    width: 25vw;
  }

  @media only screen and (max-width: 1000px) {
    width: 40vw;
  }

  @media only screen and (max-width: 600px) {
    width: 60vw;
  }
}

img{
  height: 20vh;
}


