<h1>Tipo/Sub-Tipos Productos Lista</h1>
<div>

  <div id="tablagenerica">
    <form [formGroup]="FormSearch">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput formControlName="search">
      </mat-form-field>
      <div id="botones">
        <button mat-raised-button color="accent" (click)="create(true)" id="create">Create</button>
        <button mat-raised-button color="accent" (click)="generate()" id="create">Generate</button>
      </div>
    </form>
    <gt-infinite-table [data]="listadoTipoProducto" [models]="[modeloTipo, modeloTipo]" [visuals]="[columnasTipo, columnasTipo]" *ngIf="listadoTipoProducto"
      [search]="false" [actionLevels]="accionesTabla" (notify)="notification($event)"
       [paginator]="false" [levels]="['subtipo']" [infiniteRequests]="[peticionSubTipos]" [levelTitles]="['Lista de Subtipos']">

    </gt-infinite-table>
    <mat-paginator [length]="totalTipoProductos" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page" (page)="pagina($event)">
    </mat-paginator>
  </div>
</div>
