<!-- Barra de navegación -->
<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
</mat-toolbar>


<!-- Contenido de la web -->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="elementoBarra" [routerLink]="['usuario/login']"> Inicio de sesión</div>
        <div class="elementoBarra" [routerLink]="['libro/expositor']"> Expositor de libros</div>
        <div class="elementoBarra" [routerLink]="['libro/creacionLibro']"> Creación de libros</div>
        <div class="elementoBarra" [routerLink]="['autor/expositorAutor']"> Expositor de autores</div>
        <div class="elementoBarra" [routerLink]="['autor/creacionAutor']"> Creación de autores</div>
    </mat-drawer>

    <div class="example-sidenav-content">
        <!-- Resultado del enrutamiento -->
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>
