<!-- Barra de navegación -->
<mat-toolbar color="primary" fxLayout="row wrap" id="toolbar">
  <div id="btnsIzquierda">
    <button mat-icon-button id="hamburguesa" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span> <a [routerLink]="['inicio']" id="logo">{{title}}</a></span>
    <div class="opcionesMenu">
      <button mat-flat-button color="none" autosize [routerLink]="['shop/PRODUCTOSQUIMICOS']">Químicos</button>
      <button mat-flat-button color="none" autosize [routerLink]="['shop/CELULOSAYTEXTILES']">Celulosas/textiles</button>
      <button mat-flat-button color="none" autosize [routerLink]="['shop/COMPLEMENTOSDEHIGUIENE']">Higuiene</button>
      <button mat-flat-button color="none" autosize [routerLink]="['shop/MAQUINADELIMPIEZA']">Maquina</button>

      <!-- ng container es como un div que no se renderiza luego, util para meter condiciones y bucles sin partir la extructura del html -->
      <ng-container *ngIf="auth.isAdmin()">
        <button mat-flat-button color="none" [matMenuTriggerFor]="menu1" autosize>Panel de control</button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item autosize [routerLink]="['tipoProducto']">Tipos/Sub-Tipos de Producto</button>
          <button mat-menu-item autosize [routerLink]="['producto']">Producto</button>
          <button mat-menu-item autosize [routerLink]="['estadisticas']">Estadisticas de productos</button>
        </mat-menu>
      </ng-container>
    </div>
  </div>
  <div id="btnsDerecha">
    <button mat-raised-button color="none" autosize [routerLink]="['login']" *ngIf="!auth.getUserConnected()">Sign
      In</button>
    <button mat-raised-button color="none" autosize [routerLink]="['registro']" *ngIf="!auth.getUserConnected()">Sign
      up</button>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="userConect" id="nombre">{{userConect.nombre}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item autosize [routerLink]="['factura']">Factura</button>
    </mat-menu>
    <mat-icon mat-raised-button color="none" autosize *ngIf="auth.getUserConnected()" [routerLink]="['carrito']"
      class="carritoIcon">shopping_cart</mat-icon>
    <mat-icon id="logout" mat-raised-button color="none" autosize *ngIf="auth.getUserConnected()" (click)="logout()">logout
    </mat-icon>
  </div>
</mat-toolbar>


<!-- Contenido de la web -->
<mat-drawer-container class="web-container" autosize>
  <mat-drawer #drawer class="web-sidenav" mode="over">
    <div class="elementoBarra" [routerLink]="['shop/PRODUCTOSQUIMICOS']"> Productos Químicos</div>
    <div class="elementoBarra" [routerLink]="['shop/CELULOSAYTEXTILES']"> Celulosas y Textiles</div>
    <div class="elementoBarra" [routerLink]="['shop/COMPLEMENTOSDEHIGUIENE']"> Complementos de Higuiene</div>
    <div class="elementoBarra" [routerLink]="['shop/MAQUINADELIMPIEZA']"> Maquina de Limpieza</div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!-- Resultado del enrutamiento -->
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
