<ngx-spinner *ngIf="isWaiting" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-triangle-path" [fullScreen] = "true"><p style="color: white" > Loading... </p>
</ngx-spinner>
<!-- Barra de navegación -->
<mat-toolbar color="primary" fxLayout="row wrap" id="toolbar">
  <div id="btnsIzquierda">
    <button mat-icon-button id="hamburguesa" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
     <a [routerLink]="['inicio']" id="logo"><img width="130" height="60" src="../assets/img/logo.png"></a>
    <div class="opcionesMenu">
      <button mat-flat-button color="none" autosize [routerLink]="['shop/PRODUCTOSQUIMICOS']">QUÍMICOS</button>
      <button mat-flat-button color="none" autosize [routerLink]="['shop/CELULOSAYTEXTILES']">CELULOSAS/TEXTILES</button>
      <button mat-flat-button color="none" autosize [routerLink]="['shop/COMPLEMENTOSDEHIGUIENE']">HIGIENE</button>
      <button mat-flat-button color="none" autosize [routerLink]="['shop/MAQUINADELIMPIEZA']">MAQUINARIA</button>

      <!-- ng container es como un div que no se renderiza luego, util para meter condiciones y bucles sin partir la extructura del html -->
      <ng-container *ngIf="auth.isAdmin()">
        <button mat-flat-button color="none" [matMenuTriggerFor]="menu1" autosize>PANEL DE CONTROL</button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item autosize [routerLink]="['tipoProducto']">Tipos/Sub-Tipos de Producto</button>
          <button mat-menu-item autosize [routerLink]="['producto']">Producto</button>
          <button mat-menu-item autosize [routerLink]="['estadisticas']">Estadisticas de productos</button>
        </mat-menu>
      </ng-container>
    </div>
  </div>
  <div id="btnsDerecha">
    <button mat-raised-button color="none" autosize [routerLink]="['login']" *ngIf="!auth.getUserConnected()">Sign
      In</button>
    <button mat-raised-button color="none" autosize [routerLink]="['registro']" *ngIf="!auth.getUserConnected()">Sign
      up</button>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="userConect" id="nombre">{{userConect.nombre}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item autosize [routerLink]="['factura']">Factura</button>
    </mat-menu>
    <mat-icon mat-raised-button color="none" autosize *ngIf="auth.getUserConnected()" [routerLink]="['carrito']"
      class="carritoIcon">shopping_cart</mat-icon>
    <mat-icon id="logout" mat-raised-button color="none" autosize *ngIf="auth.getUserConnected()" (click)="logout()">logout
    </mat-icon>
  </div>
</mat-toolbar>


<!-- Contenido de la web -->
<mat-drawer-container class="web-container" autosize>
  <mat-drawer #drawer class="web-sidenav" mode="over">
    <div class="elementoBarra" [routerLink]="['shop/PRODUCTOSQUIMICOS']"> Químicos</div>
    <div class="elementoBarra" [routerLink]="['shop/CELULOSAYTEXTILES']"> Celulosas/Textiles</div>
    <div class="elementoBarra" [routerLink]="['shop/COMPLEMENTOSDEHIGUIENE']"> Higiene</div>
    <div class="elementoBarra" [routerLink]="['shop/MAQUINADELIMPIEZA']"> Maquinaria</div>
    <!-- ng container es como un div que no se renderiza luego, util para meter condiciones y bucles sin partir la extructura del html -->
    <ng-container *ngIf="auth.isAdmin()">
     <button mat-flat-button color="none" [matMenuTriggerFor]="menu1" autosize>Panel de control</button>
     <mat-menu #menu1="matMenu">
       <button mat-menu-item autosize [routerLink]="['tipoProducto']">Tipos/Sub-Tipos de Producto</button>
       <button mat-menu-item autosize [routerLink]="['producto']">Producto</button>
       <button mat-menu-item autosize [routerLink]="['estadisticas']">Estadisticas de productos</button>
     </mat-menu>
   </ng-container>
  </mat-drawer>
  <!-- Resultado del enrutamiento -->
  <router-outlet></router-outlet>
  <footer>
    <div>
      <h2>Productos</h2>
      <a [routerLink]="['shop/PRODUCTOSQUIMICOS']">QUÍMICOS</a> <br>
      <a [routerLink]="['shop/CELULOSAYTEXTILES']">CELULOSAS/TEXTILES</a><br>
      <a [routerLink]="['shop/COMPLEMENTOSDEHIGUIENE']">HIGIENE</a><br>
      <a [routerLink]="['shop/MAQUINADELIMPIEZA']">MAQUINARIA</a>
    </div>
    <div>
      <h2>Contact Us</h2>
      <p>Numero: 622547845</p>
      <p>Correo: animo@gmail.com</p>
    </div>
    <div>
      <img src="../assets/img/logo.png" alt="logo">
    </div>
  </footer>


</mat-drawer-container>
