#toolbar {
  height: 6vh;
  display: flex;
  justify-content: space-between;
  }
.web-container{
  height: 94vh;
  overflow: auto;
  background-color: rgba(215, 250, 247, 0.7) !important; 
}
  .example-spacer {
  flex: 1 1 auto;
  }

  .opcionesMenu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  }

  #nombre {
  margin-right: 3vw;
  background-color: #374ca0;
  }

  #logo {
  text-decoration: none;
  color: white;
  }

  .carritoIcon {
  margin-right: 5%;
  }

  .mat-icon {
  cursor: pointer;
  }

  #btnsIzquierda {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }

  #btnsDerecha {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  }

  #logout {
    margin-left: 0.5rem;
  }

  #hamburguesa {
  display: none;
  }

  @media only screen and (max-width: 1500px) {
  #hamburguesa {
  display: block !important;
  }

  .opcionesMenu {
  display: none;
  }

  .elementoBarra {
  border-bottom: 2px solid black;
  padding: 12px 24px;
  margin-bottom: 2vh;
  cursor: pointer;
  }
  }
