#toolbar {
  display: flex;
  justify-content: space-between;
}

.example-spacer {
    flex: 1 1 auto;
}

.opcionesMenu{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#nombre{
    margin-right: 3vw;
}

#logo{
    text-decoration: none;
    color: white;
}

.carritoIcon{
  margin-right: 5%;
}

.mat-icon{
    cursor: pointer;
}

#btnsIzquierda {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#btnsDerecha {
  display: flex;
  justify-content: space-evenly;
}

#hamburguesa{
  display: none;
}


@media only screen and (max-width: 850px){
  #hamburguesa{
    display: block !important;
  }
  .opcionesMenu{
    display: none;
  }
  .elementoBarra{
    border-bottom: 2px solid black;
    padding: 12px 24px;
    margin-bottom: 2vh;
    cursor: pointer;
}
}
