div{
    margin-top: 5vh;

}

h1{
    text-align: center;
    margin-top: 2%;
}

#create{
    margin-left: 5%;
    margin-bottom: 1%;
}


#tablagenerica{
   padding: 2.5vw;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#botones{
    display: flex;
    margin: 0;
}