<h1>Productos Lista</h1>
<div>

  <div id="tablagenerica">
    <form [formGroup]="FormSearch">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput formControlName="search">
      </mat-form-field>
      <div id="botones">
        <button mat-raised-button color="accent" (click)="create()" id="create">Create</button>
        <button mat-raised-button color="accent" (click)="generate()" id="create">Generate</button>
      </div>
    </form>
    <gt-table [data]="listadoProducto" [model]="modeloTipo" [visual]="columnasTipo" *ngIf="listadoProducto"
      [search]="false" [catalogActions]="['edit', 'autoDelete', 'inspect']" (notify)="notification($event)" [paginator]="false">

    </gt-table>
    <mat-paginator [length]="totalProductos" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page" (page)="pagina($event)">
    </mat-paginator>
  </div>
</div>