mat-form-field{
    width: 100%;
}

::ng-deep{
    ngx-payment-card{
        .container{
            width: 100% !important;
        }

        #Front{
            text:last-of-type{
                display: none!important;
            }
        }
    }
}