/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
button, .mat-card, h1, p, .mat-mdc-card-title, .mat-mdc-card-subtitle{
  font-family: sans-serif !important;
}
body {
  margin: 0;
  
}

.notierror {
  z-index: 10000 !important;
  white-space: pre-wrap;
  background-color: darkred;
  color: white;

  .mat-button-wrapper {
    color: white;
  }
}


.carrito .mat-grid-tile-content{
  justify-content: flex-start;
}
