div{
    text-align: center;
}

.img{
    background-image: url("../../assets/img/banner.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    height: 71vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}
/* width es vw y vh es height */


